<template>
    <div class="row">
        <output-byte :byte = "ipBinaer[0].ipBinaer"></output-byte>&nbsp;<strong>.</strong>&nbsp;
        <output-byte :byte = "ipBinaer[1].ipBinaer"></output-byte>&nbsp;<strong>.</strong>&nbsp;
        <output-byte :byte = "ipBinaer[2].ipBinaer"></output-byte>&nbsp;<strong>.</strong>&nbsp;
        <output-byte :byte = "ipBinaer[3].ipBinaer"></output-byte>
    </div>
</template>

<script>
    import OutputByte from "./output-byte";
    export default {
        name: "output-panel",
        components: {OutputByte},
        props: {
            ipBinaer: {
                typ: Object
            },
        }
    }
</script>

<style scoped>

</style>