<template>
    <div class="col">
        <div class="row">
            <output-bit :bit="byte.figure7"></output-bit>
            <output-bit :bit="byte.figure6"></output-bit>
            <output-bit :bit="byte.figure5"></output-bit>
            <output-bit :bit="byte.figure4"></output-bit>
            <output-bit :bit="byte.figure3"></output-bit>
            <output-bit :bit="byte.figure2"></output-bit>
            <output-bit :bit="byte.figure1"></output-bit>
            <output-bit :bit="byte.figure0"></output-bit>
        </div>
    </div>
</template>

<script>
    import OutputBit from "./output-bit";
    export default {
        name: "output-byte",
        components: {OutputBit},
        props: {
            byte: {
                typ: Object
            },
        },
    }
</script>

<style scoped>

</style>