<template>
    <div class="col p-0">
        <input v-model="bit" type="number" min="0" max="255" class="w-100">
    </div>
</template>

<script>
    export default {
        name: "output-bit",
        props: {
            bit: {
                typ: Number
            },
        }
    }
</script>

<style scoped>

</style>