<template>
    <div>
        <div class="row">
            <div class="col p-0 d-flex">
                <input v-model="input0" type="number" min="0" max="255" name="input0" class="w-100 w-max p-1 border">&nbsp;<strong>.</strong>&nbsp;
            </div>
            <div class="col p-0 d-flex">
                <input v-model="input1" type="number" min="0" max="255" name="input1" class="w-100 w-max p-1 border">&nbsp;<strong>.</strong>&nbsp;
            </div>
            <div class="col p-0 d-flex">
                <input v-model="input2" type="number" min="0" max="255" name="input2" class="w-100 w-max p-1 border">&nbsp;<strong>.</strong>&nbsp;
            </div>
            <div class="col p-0 d-flex">
                <input v-model="input3" type="number" min="0" max="255" name="input3" class="w-100 w-max p-1 border">
            </div>
        </div>
        <div class="row">
            <div class="col m-0 p-0">
                <button @click="getIPs" class="btn-dark text-white w-100 mb-1">IP BINÄR ERSTELLEN</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "input-panel",
        data() {
            return {
                input0: "",
                input1: "",
                input2: "",
                input3: "",
            }
        },
        methods: {
            getIPs: function () {
                this.$emit('getIp', [this.input0, this.input1, this.input2, this.input3]);
            }
        }
    }
</script>

<style scoped>

</style>