<template>
    <div class="container overflow-auto">
        <input-component @getIp="setIp($event)" @ifEllowed="setAlert($event)"></input-component>
        <output-panel :ipBinaer="ipBinaer"></output-panel>
    </div>
</template>
<script>
    import InputComponent from "./input-panel";
    import OutputPanel from "./output-panel/output-panel";
    export default {
        name: 'start',
        components: {
            OutputPanel,
            InputComponent
        },
        data() {
            return {
                ipBinaer: [
                    {
                        ipBinaer: {
                            figure0: 0,
                            figure1: 0,
                            figure2: 0,
                            figure3: 0,
                            figure4: 0,
                            figure5: 0,
                            figure6: 0,
                            figure7: 0,
                        },
                    },
                    {
                        ipBinaer: {
                            figure0: 0,
                            figure1: 0,
                            figure2: 0,
                            figure3: 0,
                            figure4: 0,
                            figure5: 0,
                            figure6: 0,
                            figure7: 0,
                        },
                    },
                    {
                        ipBinaer: {
                            figure0: 0,
                            figure1: 0,
                            figure2: 0,
                            figure3: 0,
                            figure4: 0,
                            figure5: 0,
                            figure6: 0,
                            figure7: 0,
                        },
                    },
                    {
                        ipBinaer: {
                            figure0: 0,
                            figure1: 0,
                            figure2: 0,
                            figure3: 0,
                            figure4: 0,
                            figure5: 0,
                            figure6: 0,
                            figure7: 0,
                        }
                    }
                ],
            }
        },
        methods: {
            setIp: function (event) {
                    for (let i = 0; i < 4; i++) {
                        if(event[i]){
                            event[i] = parseInt(event[i]);
                            if(event[i]<=255){
                                console.log(event[i]);
                                event[i] >= 128 ? this.ipBinaer[i].ipBinaer.figure7 = 1 : this.ipBinaer[i].ipBinaer.figure7 = 0;
                                let seven = this.ipBinaer[i].ipBinaer.figure7 * 128;
                                event[i] >= 64 && (event[i] >= (seven + 64)) ? this.ipBinaer[i].ipBinaer.figure6 = 1 : this.ipBinaer[i].ipBinaer.figure6 = 0;
                                let six = seven + this.ipBinaer[i].ipBinaer.figure6 * 64;
                                event[i] >= 32 && (event[i] >= (six + 32)) ? this.ipBinaer[i].ipBinaer.figure5 = 1 : this.ipBinaer[i].ipBinaer.figure5 = 0;
                                let five = six + this.ipBinaer[i].ipBinaer.figure5 * 32;
                                event[i] >= 16 && (event[i] >= (five + 16)) ? this.ipBinaer[i].ipBinaer.figure4 = 1 : this.ipBinaer[i].ipBinaer.figure4 = 0;
                                let four = five + this.ipBinaer[i].ipBinaer.figure4 * 16;
                                event[i] >= 8 && (event[i] >= (four + 8)) ? this.ipBinaer[i].ipBinaer.figure3 = 1 : this.ipBinaer[i].ipBinaer.figure3 = 0;
                                let three = four + this.ipBinaer[i].ipBinaer.figure3 * 8;
                                event[i] >= 4 && (event[i] >= (three + 4)) ? this.ipBinaer[i].ipBinaer.figure2 = 1 : this.ipBinaer[i].ipBinaer.figure2 = 0;
                                let two = three + this.ipBinaer[i].ipBinaer.figure2 * 4;
                                event[i] >= 2 && (event[i] >= (two + 2)) ? this.ipBinaer[i].ipBinaer.figure1 = 1 : this.ipBinaer[i].ipBinaer.figure1 = 0;
                                let one = two + this.ipBinaer[i].ipBinaer.figure1 * 2;
                                event[i] >= 1 && (event[i] >= (one + 1)) ? this.ipBinaer[i].ipBinaer.figure0 = 1 : this.ipBinaer[i].ipBinaer.figure0 = 0;
                                let zero = two + this.ipBinaer[i].ipBinaer.figure1 * 2;
                            }
                            else {
                                alert("!! Der Wert des "+parseInt(i+1)+" . Bytes überschteigt 255 !!");
                            }
                        }
                        else {
                            alert("!! Bitte "+parseInt(i+1)+". Feld ausfüheln !!");
                        }
                    }
            },
        }
    }
</script>

<style lang="scss">
    @import '../../node_modules/bootstrap/scss/bootstrap';
    button, button:focus, button:after, input {
        outline: none;
        border: none;
        margin: 0;
    }
    .container {
        min-width: 842px;
    }
</style>